templates/n8nPactoryFlow.json
{
    "name": "n8n Pactory Flow",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.chatInput }}",
          "options": {
            "systemMessage": "=You're a helpful assistant that the user to answer questions about their calendar.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."
          }
        },
        "id": "29963449-1dc1-487d-96f2-7ff0a5c3cd97",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          780,
          -20
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          680,
          280
        ],
        "id": "16f283ec-4749-49d3-aa6d-e26d2a9f5182",
        "name": "Azure OpenAI Chat Model",
        "credentials": {
          "azureOpenAiApi": {
            "id": "R1bEwrzDs8wOjHi8",
            "name": "Azure Open AI account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pactory",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          400,
          0
        ],
        "id": "3d61ebd2-6d52-42a3-a69e-04a58c305c40",
        "name": "Webhook",
        "webhookId": "99f49c84-2ddf-4ffb-9541-98d3c762caf5"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"executionId\": \"{{ $execution.id }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          600,
          -180
        ],
        "id": "ce1305d7-8fdc-43fa-9638-c267b24dd140",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "output",
                "value": "={{ $json.output }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1,
        "position": [
          1200,
          -120
        ],
        "id": "009318b6-724d-41dd-8b54-f0d1824ea56e",
        "name": "Execution Data",
        "alwaysOutputData": true
      }
    ],
    "pinData": {},
    "connections": {
      "Azure OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "0ab599cd-ff1c-4f35-9bf7-2417fdcbea80",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6758f644b9da6f993f822b139dbf115a407108c40fbc8e73a367021a2c3ecc58"
    },
    "id": "7kivgfH14woUjpsb",
    "tags": []
  }